<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <title>Student Registration|Registered</title>
</head>
<body style="background-color: rgb(99, 99, 255);">
    <h1 style="text-align: center; color: whitesmoke; ">Registered students</h1>
    <div style="text-align: center; font-size: 150%;"><a href="/add" style="color: aliceblue;">Register now</a></div>
    <ul class="my-list">
        <% regis.forEach(regi => { %>
            <li>
                First name: <%= regi.fname %><br>
                 Last name: <%= regi.lname %><br>
                Phone #: <%= regi.tele %><br>
                 Email:<%= regi.email %><br>
                Address: <%= regi.address %><br>
                 City:<%= regi.city %><br>
                Favorite #:<%= regi.numb %><br>
                <form action="/edit/<%= regi._id %>" method="get" style="display:inline;">
                    <button type="submit" style="background-color: #0084ff; color: whitesmoke; border-radius: 5%">Edit</button>
                </form>
                <form action="/delete/<%= regi._id %>" method="post" style="display:inline;">
                    <button type="submit" style="background-color: #ff0000; color: whitesmoke; border-radius: 5%">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
</body>
</html>